boto>=2.49
boto3>=1.26
botocore>=1.29
hvac>=1.0
ansible>=7.1
ansible-core>=2.14
ansible-lint>=6.10
Jinja2>=3.1
yamllint>=1.27
molecule>=4
molecule-ec2
passlib>=1.7
urllib3>=1.26
docker-py
molecule[docker]

